.aboutme {
  display: flex;

  align-items: center;
  padding: clamp(7px, 5vw, 37px);

  text-align: center;
}
.aboutme_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
}
.aboutme_name {
  width: 500px;
  animation: autorotate;
  animation-timeline: view();
}

.aboutme_position {
  font-size: clamp(12px, 3vw, 50px);
  margin: 0px 0px 21px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  backdrop-filter: blur(2px);
  width: 100%;
}
.aboutme_description {
  font-size: clamp(10px, 1.5vw, 40px);
  margin: 11px 0px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  width: 100%;
}
.aboutme_links {
  display: flex;
  list-style-type: none;
  padding: 0%;
  margin: 11px 0px;
  font-size: clamp(10px, 2vw, 40px);
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  width: 100%;
}
.aboutme_links_list {
  margin: 0px 7px;
  padding: 0%;
}

@keyframes autorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-435deg);
  }
}
