.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px clamp(7px, 5vw, 37px);
  text-align: center;
  width: 90%;
}
.experience_title {
  display: flex;
  align-self: flex-start;
  font-size: 3.5vw;
  margin: 0%;
  width: 100%;
  /* animacion */
  animation: animation-elements-xi linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.experience_list {
  list-style-type: none;
  box-sizing: border-box;
  margin: 3vw 0px;
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  font-size: clamp(12px, 3vw, 50px);
}
.experience_item {
  box-sizing: border-box;
  margin: 1.5vw 0px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  /* animacion */
  animation: animation-elements-y linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.experience_item_title {
  font-size: 2.5vw;
  margin: 0%;
}
.experience_item_date {
  font-size: 1.5vw;
}
.experience_item_company {
  font-size: 1.8vw;
}
.experience_item_description {
  font-size: 1.5vw;
}
@keyframes animation-elements-y {
  from {
    opacity: 0; /* controla opacidad */
    translate: 0 100px; /* controla movimiento inicial */
    scale: 0.9; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}

@keyframes animation-elements-xi {
  from {
    opacity: 0; /* controla opacidad */
    transform: translateX(-200%); /* controla movimiento inicial */
    translate: 0 200px;
    scale: 0.5; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}
