.header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: clamp(2dvh, 6vw, 11dvh);
  left: 0;
  animation: animation-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0px 200px;
  z-index: 9;
  width: clamp(25dvh, 45vw, 90dvh);
  height: clamp(4dvh, 6vw, 10dvh);
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0%;
  margin: 1%;
  font-size: clamp(17px, 3vw, 40px);
}
.header_list_item {
  margin: 0px 7%;
  padding: 0%;
  &:hover {
    scale: 1.35;
  }
}
.header_list_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

@keyframes animation-header {
  fom {
  }
  to {
    backdrop-filter: blur(7px);
    border-radius: 70px;
    border-bottom: 3px solid hsl(0, 0%, 100%, 0.7);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  }
}
