.header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  left: 0;
  animation: animation-header linear both; /* nombre de keyframes - animacion lineal - hacia ambos sentidos*/
  animation-timeline: scroll(
    root block
  ); /* root toda la pantalla y block en horizontal */
  animation-range: 0 200px;
  z-index: 9;
}

.header_list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0%;
  font-size: clamp(9px, 2vw, 40px);
  width: 80%;
}
.header_list_item {
  margin: 0px 20px;
  padding: 0%;
}
.header_list_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

@keyframes animation-header {
  to {
    backdrop-filter: blur(10px);
  }
}
