.header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 5vw;
  left: 0;
  animation: animation-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 100px 200px;
  z-index: 9;
  width: 60vw;
  height: 5vw;
}

.header_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0%;
  margin: 1%;
  font-size: 2.5vw;
}
.header_list_item {
  margin: 0px 21%;
  padding: 0%;
}
.header_list_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

@keyframes animation-header {
  fom {
  }
  to {
    backdrop-filter: blur(7px);
    border-radius: 70px;
    border-bottom: 3px solid hsl(0, 0%, 100%, 0.7);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  }
}
