.page {
  max-width: 1600px;
  background-color: rgb(0, 0, 0);
  /*  background-image: url("../images/vecteezy_indigo-blue-watercolor-hand-painting-and-splash-abstract_22915577.jpg");
  background-size: cover; */
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal; */

  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;

  /* frase */

  /* font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal; */
}
.page2 {
  background-color: aliceblue;
  background-image: url("https://media.istockphoto.com/id/1497523070/es/foto/primer-plano-del-papel-blanco-arrugado-para-el-fondo-de-textura.jpg?s=612x612&w=0&k=20&c=pcG6zaLu4KHSxJAAnurV3pXN72WZxuuc4z-SfyF9rG4=");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vw;
  border-radius: 2vw;
}
@media screen and (min-width: 400px) and (max-width: 1600px) {
}
