.phrase {
  width: 100%;
}
.phrase_item {
  display: flex;
  justify-content: center;
  font-size: 200px;
  text-align: center;
  animation: autoblur linear both;
  animation-timeline: view();
  margin: 0%;
}

@keyframes autoblur {
  0% {
    filter: blur(40px);
  }
  44%,
  56% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}
