.projects {
  display: flex;
  flex-direction: column;

  padding: 0px clamp(7px, 5vw, 37px);
  text-align: center;
}
.projects_skils {
  display: flex;
  justify-content: space-evenly;
}

.projects_title {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: clamp(12px, 3vw, 50px);
  /* animacion */
  animation: animation-elements-xd linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
/* ////////////////////////////////////// */
.projects_list {
  list-style-type: none;
  padding: 0%;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  /* animacion */
  animation: animation-elements-y linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.project {
  margin: 0px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  width: 21%;
  height: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.project_title {
  font-size: clamp(9px, 2vw, 70px);
  padding: 0px;
  margin: 0%;
}
.project_little-description {
  font-size: clamp(10px, 1.5vw, 40px);
  padding: 0px;
  margin: 11px 0px;
}
.project_description {
  font-size: clamp(10px, 1.5vw, 40px);
  border: 1px solid black;
  margin: 0%;
  border-radius: 11px;
}
.project_skils-list {
  font-size: clamp(10px, 2vw, 40px);
  list-style-type: none;
  padding: 0%;
}
.project_skil {
  margin: 0%;
}

@keyframes animation-elements-y {
  from {
    opacity: 0; /* controla opacidad */
    translate: 0 100px; /* controla movimiento inicial */
    scale: 0.9; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}

@keyframes animation-elements-xd {
  from {
    opacity: 0; /* controla opacidad */
    transform: translateX(200px); /* controla movimiento inicial */
    translate: 0 200px;
    scale: 0.5; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}
