.projects {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw 0px 5vw;
}
.projects_skils {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.skils {
  list-style-type: none;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  font-size: 1.5vw;
  margin: 0%;
  padding: 1vw 0.7vw;
  box-sizing: border-box;
  width: auto;
  display: flex;
  justify-self: flex-start;
}
.skils_item {
  padding: 1vw 0.7vw;
}

.projects_title {
  font-size: 3.5vw;
  width: 100%;
  margin: 0%;
  animation: animation-elements-xd linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
/* ////////////////////////////////////// */
.projects_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 7vw;
  margin: 3vw 0px;
  justify-items: center;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0%;
}
.project {
  width: 100%;

  text-align: center;
  list-style-type: none;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 100%, 0.7);
  box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.9);
  animation: animation-elements-y linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.project_title {
  font-size: 2.5vw;
  box-sizing: border-box;
  margin: 2vw 0px 0px;
}
.project_little-description {
  font-size: 1.8vw;
  box-sizing: border-box;
  margin: 1vw 0px 1.5vw;
}
.project_description {
  font-size: 1.5vw;
}
.project_img {
  width: 90%;
  border-radius: 1vw;
}

@keyframes animation-elements-y {
  from {
    opacity: 0; /* controla opacidad */
    translate: 0 100px; /* controla movimiento inicial */
    scale: 0.9; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}

@keyframes animation-elements-xd {
  from {
    opacity: 0; /* controla opacidad */
    transform: translateX(-200px); /* controla movimiento inicial */
    translate: 0 200px;
    scale: 0.5; /* controla la escala */
  }
  to {
    opacity: 1;
    translate: 0 0; /* controla movimiento final */
    scale: 1; /* controla la escala */
  }
}
